.menu-group {
    margin-bottom: 8px;
}

.menu-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 12px;
}

    .menu-button > div {
        display: flex;
        align-items: center;
        gap: 12px;
    }

.submenu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 8px;
    padding-inline-start: 18px;
}
