<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HR_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HR_Application.Properties.Settings>
            <setting name="LastUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LastIPDB" serializeAs="String">
                <value />
            </setting>
            <setting name="StartOfMonth" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="EndOfMonth" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="LastUsernameDB" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPasswordDB" serializeAs="String">
                <value />
            </setting>
            <setting name="UserRole" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="expDate" serializeAs="String">
                <value />
            </setting>
            <setting name="LateType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LateRepeat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LateValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatBackgroundPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>ar</value>
            </setting>
        </HR_Application.Properties.Settings>
    </userSettings>
</configuration>
